@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");
.brand-button_tr, .promo-overlay, .promo-breadcrumbs ul li a, .products-item-img, .products-item-overlay, .products-item-cart, .products-button a, .filter .filter-box .button, .filter .filter-box .button .ff-icon, .sort .dropdown .dropdown-content, .sort .dropdown.show .dropdown-content, .sort-icon, .product-preview-button:hover .product-preview-icon, .product-preview-cart__brand-button .cart-icon, .my-carousel-wrap, .subscribe-form-submit, .shopping-cart .cart-items .cart-buttons button, .shopping-cart .address-subtotal .form .get-a-quote, .shopping-cart .address-subtotal .subtotal .content .button, .registration__form__brand-button, .registration__form__brand-button-icon, .footer-socials-icon, .radio__text:after, .checkbox__text:after {
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

* {
  margin: 0;
  padding: 0;
}

@-webkit-keyframes animate_fading {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animate_fading {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Lato;
  font-style: normal;
}

.wrapper {
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: Min(1140px, 100%);
}

.pad {
  padding-left: 32px;
  padding-right: 32px;
}

@media screen and (max-width: 1024px) {
  .pad {
    padding-left: 16px;
    padding-right: 16px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.brand-button {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  cursor: pointer;
  background: none;
  outline: none;
}

.brand-button_tr:hover {
  color: #FFF;
  background-color: #F16D7F;
}

body {
  font-family: Lato;
  font-style: normal;
}

.wrapper {
  overflow: hidden;
}

.header {
  background-color: #222222;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav-left li:last-child {
  margin-left: 41px;
  margin-top: 10px;
}

.header-nav-right li:not(:last-child) {
  margin-right: 33px;
}

.header-nav-right .cart {
  position: relative;
}

.header-nav-right .cart .counter {
  position: absolute;
  bottom: 23px;
  left: 23px;
  border-radius: 50%;
  width: 19px;
  height: 19px;
  background: #F16D7F;
  padding-top: 2px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
}

.header-dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.promo {
  min-height: 148px;
  position: relative;
  background: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo-img {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo-img img {
  width: 100%;
}

.promo-text {
  width: 50%;
}

.promo-content {
  margin-top: 40%;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

.promo-heading {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.promo-info {
  font-size: 32px;
  font-weight: bold;
  line-height: 38px;
}

.promo-info span {
  color: #F16D7F;
}

.promo-menu {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  right: 0;
  top: 0;
  padding: 16px 32px;
  min-height: 763px;
  position: absolute;
  background: #FFFFFF;
  -webkit-box-shadow: 0 16px 48px rgba(0, 0, 0, 0.1);
          box-shadow: 0 16px 48px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  z-index: 1;
}

.promo-menu-close {
  margin-bottom: 8px;
  text-align: right;
}

.promo-menu-box {
  padding-right: 50px;
}

.promo-menu-box h3 {
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.promo-menu-box-heading {
  padding-bottom: 24px;
  font-weight: bold;
  color: #000;
}

.promo-menu-box-category-heading {
  padding-bottom: 12px;
  font-weight: normal;
  color: #F16D7F;
}

.promo-menu-box ul {
  padding-bottom: 20px;
  margin-left: 22px;
}

.promo-menu-box ul li {
  padding-bottom: 11px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.promo-menu-box a {
  color: #6F6E6E;
}

.promo-menu.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
}

.promo-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: transparent;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  visibility: hidden;
}

.promo-overlay.show {
  opacity: 1;
  background-color: rgba(58, 56, 56, 0.86);
  visibility: visible;
}

.promo-new-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #F16D7F;
  -webkit-animation: animate_fading 0.3s normal;
          animation: animate_fading 0.3s normal;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.promo.small {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo-breadcrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}

.promo-breadcrumbs ul li a {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.promo-breadcrumbs ul li a:hover {
  color: #F16D7F;
}

.promo-breadcrumbs ul li + li::before {
  padding: 6px;
  color: initial !important;
  content: "/\00a0";
}

.promo-breadcrumbs .active {
  font-weight: bold;
  color: #F16D7F;
}

.sale {
  padding-top: 64px;
  padding-bottom: 96px;
}

@media screen and (max-width: 1024px) {
  .sale {
    padding-top: 20px;
    padding-bottom: 154px;
  }
}

.sale-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
}

@media screen and (max-width: 1024px) {
  .sale-top {
    padding-bottom: 20px;
  }
}

.sale-top img {
  width: 100%;
}

.sale-item {
  position: relative;
}

.sale-item a {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.sale-item-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sale-item-content p {
  color: #FFFFFF;
}

.sale-item-content h3 {
  color: #F16D7F;
}

.sale-bottom {
  position: relative;
}

.sale-bottom a > img {
  width: 100%;
}

.sale-item:not(:last-child) {
  margin-right: 30px;
}

@media screen and (max-width: 1024px) {
  .sale-item:not(:last-child) {
    margin-right: 20px;
  }
}

.products {
  padding-bottom: 96px;
}

@media screen and (max-width: 1024px) {
  .products {
    padding-bottom: 64px;
  }
}

.products-header {
  text-align: center;
  padding-bottom: 48px;
}

.products-header h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
}

.products-header p {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.products-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1140px) {
  .products-items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .products-items {
    -webkit-column-gap: 16px;
            column-gap: 16px;
  }
}

.products-item {
  padding-bottom: 20px;
  margin-bottom: 30px;
  background: #F8F8F8;
}

@media screen and (max-width: 1024px) {
  .products-item {
    margin-bottom: 16px;
  }
}

.products-item-img:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.products-item-img:hover .products-item-overlay {
  opacity: 1;
  background-color: rgba(58, 56, 56, 0.86);
  visibility: visible;
}

.products-item-img:hover .products-item-cart {
  opacity: 1;
}

.products-item-img {
  position: relative;
}

.products-item-img > img {
  width: 100%;
}

.products-item-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: transparent;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-item-cart {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.products-item-cart__brand-button {
  padding: 6px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-color: #FFF;
  color: #FFF;
}

.products-item-cart__brand-button img {
  margin-right: 11px;
}

.products-item-content {
  padding-top: 24px;
  max-width: 314px;
  margin-left: 18px;
}

.products-item-content h4 {
  padding-bottom: 12px;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.products-item-content h4 a {
  color: #000;
}

.products-item-content p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.products-item-price {
  padding-top: 18px;
}

.products-item-price span {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.products-button {
  margin-top: 18px;
  text-align: center;
}

.products-button a {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  display: inline-block;
  padding: 15px 40px;
  border: 1px solid #F16D7F;
  color: #F16D7F;
}

.products-button a:hover {
  color: #FFFFFF;
  background: #F16D7F;
}

.products-footer {
  padding-top: 102px;
  padding-bottom: 102px;
  background: #222222;
}

@media screen and (max-width: 1024px) {
  .products-footer {
    padding-top: 48px;
  }
}

.products-footer-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .products-footer-items ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.products-footer-items ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FBFBFB;
}

.products-footer-items ul li h4 {
  padding-top: 28px;
  padding-bottom: 16px;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.products-footer-items ul li p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  width: 300px;
}

@media screen and (max-width: 1024px) {
  .products-footer-items ul li:not(:last-child) {
    padding-bottom: 64px;
  }
}

.products-footer-img {
  width: 48px;
  height: 40px;
}

.products-filters, .product-preview-wrap-filters {
  padding-top: 51px;
  padding-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 17px;
}

.products-filters .sort, .product-preview-wrap-filters .sort {
  margin-left: 30px;
}

.products-pagination {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products-pagination .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 16px 10px 16px;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
}

.products-pagination .links a {
  display: inline-block;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}

.products-pagination .links a i {
  color: #000;
  width: 8px;
  height: 14px;
}

.products-pagination .links a:not(:first-child) {
  padding-left: 36px;
}

.products-pagination .links a.active {
  color: #F16D7F;
}

.products-pagination .links .ellipsis {
  padding: 0 !important;
}

.products-pagination .links .ellipsis + a {
  padding-left: 0 !important;
}

.filter {
  position: relative;
  font-weight: 600;
  width: 360px;
}

.filter .filter-box {
  padding-right: 15px;
  position: absolute;
  top: -13px;
  left: 0;
  width: 100%;
  padding-top: 13px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.filter .filter-box .button {
  text-transform: uppercase;
  cursor: pointer;
}

.filter .filter-box .button .filter-icon {
  margin-left: 11px;
}

.filter .filter-box .button .ff-icon {
  fill: #000;
}

.filter .filter-content {
  visibility: hidden;
}

.filter .filter-content .category-title {
  border-left: 5px solid #F16D7F;
  min-height: 37px;
  margin-top: 16px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-transform: uppercase;
}

.filter .filter-content .category-title h3 {
  padding-left: 10px;
  padding-bottom: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filter .filter-content .category-title hr {
  width: 100%;
  border: none;
  height: 1px;
  color: #EBEBEB;
  background-color: #EBEBEB;
}

.filter .filter-content .category-title.active h3 {
  color: #F16D7F;
}

.filter .filter-content .categories {
  padding-left: 16px;
}

.filter .filter-content .categories ul li {
  padding-bottom: 10px;
}

.filter .filter-content .categories ul li a {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filter.show .filter-box {
  padding-left: 16px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  background-color: #FFFFFF;
  z-index: 1;
}

.filter.show .filter-box .button {
  color: #F16D7F;
}

.filter.show .filter-box .button .filter-icon svg path {
  fill: #F16D7F;
}

.filter.show .filter-box .filter-content {
  visibility: visible;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sort li {
  font-weight: normal;
  padding-right: 48px;
  color: #6F6E6E;
  text-transform: uppercase;
}

.sort li span {
  cursor: pointer;
}

.sort li:last-child {
  padding-right: 0;
}

.sort .dropdown {
  position: relative;
}

.sort .dropdown .dropdown-content {
  padding-top: 6px;
  padding-left: 10px;
  position: absolute;
  left: -10px;
  top: 20px;
  overflow: hidden;
  max-height: 0;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  background-color: #FFFFFF;
  z-index: 1;
  visibility: hidden;
}

.sort .dropdown .dropdown-content ul li {
  padding-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort .dropdown .dropdown-content ul li input[type=checkbox] {
  margin-right: 10px;
}

.sort .dropdown .dropdown-content ul li span {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

.sort .dropdown.show .dropdown-content {
  max-height: 200px;
  visibility: visible;
}

.sort .dropdown.show .sort-icon {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.sort-icon {
  margin-left: 10px;
  width: 10px;
  height: 10px;
  display: inline-block;
  color: #6F6E6E;
  background-color: #FFFFFF;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.product-preview {
  background-color: #F7F7F7;
}

.product-preview-button {
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
  border: none;
  cursor: pointer;
}

.product-preview-button:hover .product-preview-icon {
  fill: #F16D7F;
}

.product-preview-icon {
  fill: #000;
}

.product-preview-wrap {
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  background-color: #FFF;
  z-index: 1;
}

.product-preview-wrap .products {
  padding-top: 128px;
  padding-bottom: 128px;
}

.product-preview-content {
  padding-top: 64px;
  padding-bottom: 64px;
  border: 1px solid #EAEAEA;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.product-preview-content > h3 {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  text-transform: uppercase;
}

.product-preview-content > h4 {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
}

.product-preview-content > p {
  width: 45%;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
}

.product-preview-content .text {
  padding-top: 48px;
  padding-bottom: 32px;
}

.product-preview-content .price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.product-preview-content .hr-sm {
  margin-top: 12px;
  margin-bottom: 12px;
  height: 3px;
  width: 64px;
  border: none;
  color: #F16D7F;
  background-color: #F16D7F;
}

.product-preview-content .hr-big {
  margin-top: 64px;
  margin-bottom: 64px;
  height: 1px;
  width: 56%;
  border: none;
  color: #EAEAEA;
  background-color: #EAEAEA;
}

.product-preview-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 17px;
}

.product-preview-cart {
  padding-top: 48px;
}

.product-preview-cart__brand-button {
  padding: 10px 42px 10px 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.product-preview-cart__brand-button > svg {
  margin-right: 22px;
}

.product-preview-cart__brand-button .cart-icon {
  fill: #F16D7F;
}

.product-preview-cart__brand-button:hover .cart-icon {
  fill: #FFF;
}

.my-carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.my-carousel-prev, .my-carousel-next {
  position: absolute;
  top: 50%;
  z-index: 3;
  -webkit-transform: translateY(-50%) translateZ(0);
          transform: translateY(-50%) translateZ(0);
}

.my-carousel-next {
  right: 0;
}

.my-carousel-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  will-change: transform;
  position: relative;
  height: 777px;
}

.my-carousel-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.my-carousel-item-img {
  width: 100%;
  display: block;
}

.subscribe {
  background-image: url(articles/photo_subscribe.jpg);
  background-repeat: no-repeat;
  background-position: bottom left 15%;
  background-size: cover;
}

.subscribe_container {
  padding-top: 96px;
  padding-bottom: 156px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .subscribe_container {
    padding-top: 56px;
    padding-bottom: 140px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscribe-review {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-review p {
  padding-top: 30px;
  width: Min(360px, 100%);
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222222;
}

@media screen and (max-width: 1024px) {
  .subscribe-review p {
    margin-bottom: 48px;
  }
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222222;
}

.subscribe-form p {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.subscribe-form p span {
  font-weight: normal;
  font-size: 18px;
}

.subscribe-form form {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-form-input {
  padding: 16px 56px 16px 22px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  background: #E1E1E1;
  color: #222222;
  border: none;
  border-radius: 32px 0 0 32px;
}

.subscribe-form-input:focus {
  outline: none;
}

.subscribe-form-submit {
  padding: 16px;
  background: #F16D7F;
  border: 0 none;
  cursor: pointer;
  border-radius: 0 32px 32px 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.subscribe-form-submit:hover {
  background: #E05C6E;
}

.shopping-cart {
  padding-top: 96px;
  padding-bottom: 128px;
}

@media screen and (max-width: 1024px) {
  .shopping-cart {
    padding-top: 64px;
  }
}

.shopping-cart_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopping-cart .cart-items {
  width: 100%;
  max-width: 652px;
}

@media screen and (max-width: 1024px) {
  .shopping-cart .cart-items {
    max-width: unset;
    margin-bottom: 64px;
  }
}

.shopping-cart .cart-items .cart-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopping-cart .cart-items .cart-buttons button {
  margin-top: 24px;
  padding: 16px 40px;
  background: none;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  border: 1px solid #A4A4A4;
  outline: none;
  color: #4A4A4A;
}

.shopping-cart .cart-items .cart-buttons button:hover {
  background: #A4A4A4;
  color: #FFF;
}

.shopping-cart .cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 16px 16px 24px rgba(0, 0, 0, 0.1);
          box-shadow: 16px 16px 24px rgba(0, 0, 0, 0.1);
}

.shopping-cart .cart-item:not(:last-child) {
  margin-bottom: 40px;
}

.shopping-cart .cart-img {
  width: 262px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shopping-cart .cart-img img {
  width: 100%;
}

.shopping-cart .cart-content {
  padding-left: 31px;
  padding-top: 22px;
  padding: 22px 22px 0 32px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.shopping-cart .cart-content .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopping-cart .cart-content .title > h3 {
  padding-bottom: 42px;
  max-width: 200px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}

.shopping-cart .cart-content .title > h3 > a {
  color: #222222;
}

.shopping-cart .cart-content .title .close {
  padding-top: 6px;
}

.shopping-cart .cart-content .title .close > a > img {
  color: #575757;
}

.shopping-cart .cart-content ul li {
  padding-bottom: 6px;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.shopping-cart .cart-content .price {
  color: #F16D7F;
}

.shopping-cart .cart-content .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shopping-cart .cart-content .quantity-input {
  margin-top: 2px;
  margin-left: 24px;
  width: 42px;
  text-align: center;
  height: 20px;
  color: #656565;
  border: 1px solid #EAEAEA;
  outline: none;
}

.shopping-cart .address-subtotal {
  padding-top: 16px;
  width: 100%;
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .shopping-cart .address-subtotal {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    width: 100%;
    max-width: unset;
  }
}

.shopping-cart .address-subtotal .form {
  margin-bottom: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shopping-cart .address-subtotal .form > h3 {
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.shopping-cart .address-subtotal .form input {
  line-height: 16px;
  font-weight: 300;
  border: 1px solid #A4A4A4;
  outline: none;
}

.shopping-cart .address-subtotal .form .get-a-quote {
  margin-top: 24px;
  padding: 10px;
  background: none;
  color: #4A4A4A;
  cursor: pointer;
}

.shopping-cart .address-subtotal .form .get-a-quote:hover {
  background: #A4A4A4;
  color: #FFF;
}

.shopping-cart .address-subtotal .subtotal {
  padding: 44px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #F5F3F3;
}

@media screen and (max-width: 1024px) {
  .shopping-cart .address-subtotal .subtotal {
    width: 100%;
    max-width: 360px;
    margin-left: 16px;
    margin-top: 39px;
  }
}

.shopping-cart .address-subtotal .subtotal .content div {
  text-align: right;
}

.shopping-cart .address-subtotal .subtotal .content div span {
  margin-left: 32px;
}

.shopping-cart .address-subtotal .subtotal .content .total {
  margin-bottom: 12px;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.shopping-cart .address-subtotal .subtotal .content .grand-total {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.shopping-cart .address-subtotal .subtotal .content .grand-total span {
  font-weight: bold;
  color: #F16D7F;
}

.shopping-cart .address-subtotal .subtotal .content .text {
  padding-bottom: 20px;
  margin-bottom: 16px;
  border-bottom: 1px solid #E2E2E2;
}

.shopping-cart .address-subtotal .subtotal .content .button {
  padding: 16px 32px;
  width: 100%;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #F16D7F;
}

.shopping-cart .address-subtotal .subtotal .content .button:hover {
  background: #E05C6E;
}

.registration {
  padding-top: 64px;
  padding-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .registration {
    padding-bottom: 64px;
  }
}

.registration__form {
  margin-right: 22px;
  width: Min(360px, 100%);
}

.registration__form > form h5 {
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration__form__brand-button {
  padding: 16px 32px 16px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.registration__form__brand-button > svg {
  margin-left: 20px;
}

.registration__form__brand-button-icon {
  fill: #F16D7F;
}

.registration__form__brand-button:hover .registration__form__brand-button-icon {
  fill: #FFF;
}

.registration__info {
  width: Min(652px, 100%);
}

.registration__info > h3 {
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.registration__info > p {
  padding-bottom: 20px;
  width: 100%;
}

.registration__info > ul > li {
  padding-bottom: 16px;
}

.registration__info > ul > li:before {
  content: url(articles/check.svg);
  width: 20px;
  height: 16px;
  padding-right: 20px;
}

.registration__info > h3, .registration__info > p, .registration__info > ul > li {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 1024px) {
  .registration__info > h3, .registration__info > p, .registration__info > ul > li {
    font-size: 16px;
    line-height: 19px;
  }
}

.registration__radio-group {
  margin-top: 12px;
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration__radio-group :not(:last-child) {
  margin-right: 20px;
}

.password-hint {
  padding-top: 16px;
  padding-bottom: 40px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.footer_container {
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-copy-socials {
  background: #222222;
}

.footer-rights p {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer-socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-socials ul li:not(:last-child) {
  margin-right: 7px;
}

.footer-socials-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  color: #222222;
}

.footer-socials-icon:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.input {
  margin-bottom: 20px;
  padding: 16px;
  font-size: 13px;
  color: #222222;
  outline: none;
}

.input_big {
  width: 100%;
}

.input::-webkit-input-placeholder {
  color: #B1B1B1;
}

.input:-ms-input-placeholder {
  color: #B1B1B1;
}

.input::-ms-input-placeholder {
  color: #B1B1B1;
}

.input::placeholder {
  color: #B1B1B1;
}

.radio-group {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
}

.radio > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}

.radio__text {
  position: relative;
  padding: 0 0 0 24px;
  cursor: pointer;
}

.radio__text:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
  background: #FFF;
}

.radio__text:after {
  content: '';
  position: absolute;
  top: 0;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #F16D7F;
  opacity: 0;
}

input:checked + .radio__text:before {
  border: 1px solid #F16D7F;
}

input:checked + .radio__text:after {
  opacity: 1;
}

input:focus + .radio__text:before {
  -webkit-box-shadow: 0px 0px 5px 0px #F16D7F;
          box-shadow: 0px 0px 5px 0px #F16D7F;
}

.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.checkbox__text {
  position: relative;
  padding: 0 0 0 22px;
  cursor: pointer;
}

.checkbox__text:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #EBEBEB;
}

.checkbox__text:after {
  font-family: "Font Awesome 5 Free";
  content: '\f14a';
  position: absolute;
  top: 1px;
  left: 0;
  width: 12px;
  height: 12px;
  color: #F16D7F;
  opacity: 0;
}

input:checked + .checkbox__text:after {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */