@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');
@import 'config';


@mixin padding16Tablet {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
}

;

@mixin padding32Tablet {
    padding-left: calc(50% - 352px);
    padding-right: calc(50% - 352px);
}

;

@mixin paddingBig {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

;

@mixin paddingMediumTablet {
    padding-left: calc(50% - 680px);
    padding-right: calc(50% - 665px);
}

;

@mixin paddingMedium {
    padding-left: calc(50% - 680px);
    padding-right: calc(50% - 665px);
}

;

@mixin paddingSmallTablet {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

;

@mixin paddingSmall {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

;


body {
    font-family: Lato;
    font-style: normal;
}

.wrapper {
    overflow: hidden;
}

.center {
    @include paddingBig();
}

.header {
    @include paddingBig();

    @include tablet {
        @include padding32Tablet();
    }

    ;

    background-color: $darkColor;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            align-items: center;
        }

        &-left li:last-child {
            margin-left: 41px;
            margin-top: 10px;
        }

        &-right li:not(:last-child) {
            margin-right: 33px;
        }

        &-right .cart {
            position: relative;

            & .counter {
                position: absolute;
                bottom: 23px;
                left: 23px;

                border-radius: 50%;
                width: 19px;
                height: 19px;
                background: $brandColor;

                box-sizing: border-box;
                padding-top: 2px;

                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                text-align: center;

                color: #FFFFFF;
            }
        }

    }

    &-dropdown {

        &-content {
            display: block;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
    }

}

.promo {

    min-height: 148px;
    position: relative;
    background: #F1E4E6;
    display: flex;

    &-img {
        width: 50%;
        display: flex;

        img {
            width: 100%;
        }
    }

    &-text {
        width: 50%;
    }

    &-content {
        margin-top: 40%;
        border-left: 12px solid $brandColor;
        padding-left: 16px;
    }

    &-heading {
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        color: $darkColor;
    }

    &-info {
        font-size: 32px;
        font-weight: bold;
        line-height: 38px;

        span {
            color: $brandColor;
        }
    }

    &-menu {
        transform: translateX(100%);
        right: 0;
        top: 0;

        padding: 16px 32px;

        min-height: 763px;
        position: absolute;
        background: #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0 16px 48px rgba(0, 0, 0, 0.1);
        visibility: hidden;
        transition: .3s ease;
        z-index: 1;

        &-close {
            margin-bottom: 8px;
            text-align: right;
        }

        &-box {
            padding-right: 50px;

            h3 {
                font-size: 14px;
                line-height: 17px;
                text-transform: uppercase;
            }

            &-heading {
                padding-bottom: 24px;

                font-weight: bold;
                color: $blackColor;
            }

            &-category-heading {
                padding-bottom: 12px;

                font-weight: normal;
                color: $brandColor;
            }

            & ul {
                padding-bottom: 20px;
                margin-left: 22px;
            }

            & ul li {
                padding-bottom: 11px;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
            }

            & a {
                color: #6F6E6E;
            }
        }
    }

    &-menu.show {
        transform: translateX(0);
        visibility: visible;
    }

    &-overlay {
        @include overlay();
    }

    &-overlay.show {
        @include overlay_hover();
    }

    &-new-title {
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;

        color: $brandColor;
    }

    &.small {
        @include paddingBig();

        @include tablet {
            @include padding16Tablet();
        }

        justify-content: space-between;
        align-items: center;
    }

    &-breadcrumbs {
        ul {
            display: flex;
            text-transform: uppercase;

            li {

                a {
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 17px;
                    color: #636363;
                    ;
                }
            }

            li+li::before {
                padding: 6px;
                color: initial !important;
                content: "/\00a0";
            }
        }

        .active {
            font-weight: bold;
            color: $brandColor;
        }
    }

}

.sale {
    padding-top: 64px;
    padding-bottom: 96px;

    @include tablet {
        @include padding16Tablet();
        padding-top: 20px;
        padding-bottom: 154px;
    }

    ;

    @include paddingBig();

    @include tablet {
        @include padding16Tablet();
    }

    ;

    &-top {
        display: flex;
        padding-bottom: $itemsSpaces;

        @include tablet {
            padding-bottom: 20px;
        }

        ;

        img {
            width: 100%;
        }
    }

    &-item {
        position: relative;

        a {
            font-size: 16px;
            line-height: 19px;
            text-align: center;
        }

        &-content {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                color: #FFFFFF;
            }

            h3 {
                color: $brandColor;
            }
        }
    }

    &-bottom {
        position: relative;

        a>img {
            width: 100%;
        }
    }

    &-item:not(:last-child) {
        margin-right: $itemsSpaces;

        @include tablet {
            margin-right: 20px;
        }

        ;
    }
}

.products {

    padding-bottom: 96px;

    @include paddingBig();

    @include tablet {
        @include padding16Tablet();
        padding-bottom: 64px;
    }

    ;

    &-header {
        text-align: center;
        padding-bottom: 48px;

        h3 {
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 36px;
        }

        p {
            font-size: 14px;
            line-height: 17px;
            color: $additionalDarkColor;
        }
    }

    &-items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &-item {
        margin-bottom: $itemsSpaces;
        padding-bottom: 20px;

        background: #F8F8F8;

        &-img:hover &-overlay {
            @include overlay_hover();
        }

        &-img:hover &-cart {
            opacity: 1;
        }

        &-img {
            position: relative;

            &>img {
                width: 100%;
            }
        }

        &-overlay {
            @include overlay();

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &-cart {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;


            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            font-weight: normal;
            font-size: 14px;
            line-height: 17px;

            color: #FFFFFF;

            transition: .5s ease;
        }

        &-content {
            padding-top: 24px;
            max-width: 314px;
            margin-left: 18px;

            h4 {
                padding-bottom: 12px;
                font-weight: normal;
                font-size: 13px;
                line-height: 16px;

                a {
                    color: $blackColor;
                }
            }

            p {
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                color: #5D5D5D;
            }
        }

        &-price {
            padding-top: 18px;

            span {
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: $brandColor;
            }
        }
    }

    &-button {
        margin-top: 18px;
        text-align: center;

        a {
            @extend %transition;

            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            text-decoration: none;
            display: inline-block;
            padding: 15px 40px;
            border: 1px solid $brandColor;
            color: $brandColor;
        }

        a:hover {
            color: #FFFFFF;
            background: $brandColor;
        }
    }

    &-footer {
        @include paddingBig();

        min-height: 341px;

        background: $darkColor;

        &-items {

            padding-top: 103px;

            @include tablet {
                padding-top: 48px;
            }

            ul {
                display: flex;
                justify-content: space-between;

                @include tablet {
                    flex-direction: column;
                    align-items: center;
                }

                li {

                    @include tablet {
                        padding-bottom: 64px;
                    }

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: #FBFBFB;

                    h4 {
                        padding-top: 28px;
                        padding-bottom: 16px;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 24px;
                    }

                    p {
                        font-weight: 300;
                        font-size: 14px;
                        line-height: 17px;
                        text-align: center;

                        width: 300px;
                    }
                }
            }
        }

        &-img {
            width: 48px;
            height: 40px;
        }
    }

    &-filters {
        padding-top: 51px;
        padding-bottom: 64px;
        display: flex;
        font-size: 14px;
        line-height: 17px;

        .sort {
            margin-left: $itemsSpaces;
        }
    }

    &-pagination {
        margin-top: 18px;

        display: flex;
        justify-content: center;

        .links {

            display: flex;
            padding: 10px 16px 10px 16px;

            border: 1px solid #EBEBEB;
            border-radius: 5px;

            a {

                display: inline-block;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;

                color: #C4C4C4;

                i {
                    color: $blackColor;
                    width: 8px;
                    height: 14px;
                }
            }

            a:not(:first-child) {
                padding-left: 36px;
            }

            a.active {
                color: $brandColor;
            }

            .ellipsis {
                padding: 0 !important;
            }

            .ellipsis+a {
                padding-left: 0 !important;
            }
        }
    }
}

.filter {
    position: relative;
    font-weight: 600;
    width: 360px;

    .filter-box {
        padding-right: 15px;
        position: absolute;
        top: -13px;
        left: 0;
        width: 100%;
        padding-top: 13px;
        box-sizing: border-box;
        transition: .3s ease;

        .button {
            text-transform: uppercase;

            @extend %transition;

            .filter-icon {
                margin-left: 11px;
            }

            .ff-icon {
                fill: $blackColor;
                @extend %transition;
            }
        }
    }

    .filter-content {
        visibility: hidden;

        .category-title {
            border-left: 5px solid $brandColor;
            min-height: 37px;
            margin-top: 16px;
            margin-bottom: 24px;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            text-transform: uppercase;

            h3 {
                padding-left: 10px;
                padding-bottom: 10px;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                color: #6F6E6E;
            }

            hr {
                width: 100%;
                border: none;
                height: 1px;
                color: #EBEBEB;
                background-color: #EBEBEB;
            }
        }

        .category-title.active h3 {
            color: $brandColor;
        }

        .categories {
            padding-left: 16px;

            ul li {
                padding-bottom: 10px;

                a {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;

                    color: #6F6E6E;
                }
            }
        }

    }

    span {
        cursor: pointer;
    }
}

.filter.show {

    .filter-box {
        padding-left: 16px;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        background-color: #FFFFFF;
        z-index: 1;

        .button {
            color: $brandColor;

            .filter-icon {
                svg path {
                    fill: $brandColor;
                }
            }
        }

        .filter-content {
            visibility: visible;
        }
    }
}

.sort {
    display: flex;

    li {
        font-weight: normal;
        padding-right: 48px;
        color: #6F6E6E;
        text-transform: uppercase;

        span {
            cursor: pointer;
        }
    }

    li:last-child {
        padding-right: 0;
    }

    .dropdown {
        position: relative;

        .dropdown-content {
            padding-top: 6px;
            padding-left: 10px;
            position: absolute;
            left: -10px;
            top: 20px;

            overflow: hidden;

            box-sizing: border-box;
            max-height: 0;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            background-color: #FFFFFF;
            z-index: 1;
            visibility: hidden;

            @extend %transition;

            ul li {
                padding-bottom: 8px;

                display: flex;
                align-items: center;

                input[type=checkbox] {
                    margin-right: 10px;
                }

                span {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;

                    color: #6F6E6E;
                }
            }
        }
    }

    .dropdown.show {

        .dropdown-content {
            max-height: 200px;

            visibility: visible;

            @extend %transition;
        }

        .sort-icon {
            transform: rotate(-180deg);
        }
    }
}

.sort-icon {
    margin-left: 10px;
    width: 10px;
    height: 10px;

    display: inline-block;
    color: #6F6E6E;
    background-color: #FFFFFF;

    transform: rotateY(0);
    @extend %transition;
}

.product-preview {

    background-color: #F7F7F7;

    &-button {
        width: 47px;
        height: 47px;
        background: rgba(42, 42, 42, 0.15);
        border: none;
        cursor: pointer;
    }

    &-button:hover &-icon {
        @extend %transition;
        fill: $brandColor;
    }

    &-icon {
        fill: $blackColor;
    }

    &-wrap {
        border-top: 1px solid #EAEAEA;
        border-bottom: 1px solid #EAEAEA;
        background-color: #FFF;
        z-index: 1;

        @include paddingBig();

        @include tablet {
            @include padding16Tablet();
        }

        ;

        &-filters {
            @extend .products-filters;
        }

        .products {
            padding-top: 128px;
            padding-bottom: 128px;
        }
    }

    &-content {
        padding-top: 64px;
        padding-bottom: 64px;

        border: 1px solid #EAEAEA;
        transform: translateY(-50px);
        background-color: #FFF;

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        >h3 {
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;

            color: #4D4D4D;

            text-transform: uppercase;
        }

        >h4 {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;

            color: $brandColor;

            text-transform: uppercase;
        }

        >p {
            width: 45%;

            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            text-align: center;

            color: #5E5E5E;
        }

        .text {
            padding-top: 48px;
            padding-bottom: 32px;
        }

        .price {
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;

            color: $brandColor;
        }

        .hr-sm {
            margin-top: 12px;
            margin-bottom: 12px;

            height: 3px;
            width: 64px;
            border: none;
            color: $brandColor;
            background-color: $brandColor;
        }

        .hr-big {
            margin-top: 64px;
            margin-bottom: 64px;

            height: 1px;
            width: 56%;
            border: none;
            color: #EAEAEA;
            background-color: #EAEAEA;
        }
    }

    &-filters {
        display: flex;
        font-size: 14px;
        line-height: 17px;
    }

    &-cart {
        padding-top: 48px;
    }
}

.my-carousel {
    width: 100%;
    overflow: hidden;
    position: relative;

    box-sizing: border-box;

    &-prev,
    &-next {
        position: absolute;
        top: 50%;
        z-index: 3;
        transform: translateY(-50%) translateZ(0);
    }

    &-next {
        right: 0;
    }

    &-wrap {
        display: flex;
        will-change: transform;
        position: relative;
        height: 777px;

        @extend %transition;
    }

    &-item {
        flex: 0 0 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        &-img {
            width: 100%;
            display: block;
        }
    }
}

.subscribe {
    @include paddingSmall();

    display: flex;

    @include tablet {
        flex-direction: column;
        align-items: center;
    }


    min-height: 448px;

    background-image: url(articles/photo_subscribe.jpg);
    background-repeat: no-repeat;
    background-position: bottom left 15%;
    background-size: cover;

    &-review {

        padding-top: 97px;
        width: 50%;

        @include tablet {
            padding-top: 64px;
        }

        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            padding-top: 30px;
            max-width: 360px;

            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            text-align: center;

            color: $darkColor;
        }
    }

    &-form {
        padding-top: 150px;

        @include tablet {
            padding-top: 48px;
            padding-bottom: 140px;
        }

        width: 50%;

        display: flex;
        flex-direction: column;
        align-items: center;

        color: $darkColor;

        p {
            font-weight: bold;
            font-size: 24px;
            //line-height: 167.2%;
            text-align: center;

            span {
                font-weight: normal;
                font-size: 18px;
            }
        }

        form {
            padding-top: 32px;
            display: flex;
        }

        &-input {
            padding: 16px 56px 16px 22px;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;

            background: #E1E1E1;
            color: $darkColor;
            border: none;
            border-radius: 32px 0 0 32px;

            &:focus {
                outline: none;
            }
        }

        &-submit {
            padding: 16px;
            background: $brandColor;
            border: 0 none;
            cursor: pointer;
            border-radius: 0 32px 32px 0;

            font-weight: normal;
            font-size: 14px;
            line-height: 17px;

            color: #FFFFFF;

            @extend %transition;

            &:hover {
                background: #E05C6E;
            }
        }
    }
}

.shopping-cart {
    padding-top: 96px;
    padding-bottom: 128px;

    @include paddingBig();

    @include tablet {
        @include padding16Tablet();

        padding-top: 64px;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .cart-items {
        width: 100%;
        max-width: 652px;

        @include tablet {
            max-width: unset;
            margin-bottom: 64px;
        }

        .cart-buttons {
            display: flex;
            justify-content: space-between;

            button {
                margin-top: 24px;
                padding: 16px 40px;
                background: none;

                font-size: 14px;
                line-height: 17px;
                cursor: pointer;

                border: 1px solid #A4A4A4;
                outline: none;

                color: #4A4A4A;

                @extend %transition;

                &:hover {
                    background: #A4A4A4;
                    color: #FFF;
                }                
            }
        }
    }

    .cart-item {
        display: flex;

        box-shadow: 16px 16px 24px rgba(0, 0, 0, 0.10);

        &:not(:last-child) {
            margin-bottom: 40px;            
        }
    }



    .cart-img {
        width: 262px;
        display: flex;

        img {
            width: 100%;
        }
    }


    .cart-content {
        padding-left: 31px;
        padding-top: 22px;
        padding: 22px 22px 0 32px;

        flex-grow: 1;

        .title {
            display: flex;
            justify-content: space-between;

            > h3 {
                padding-bottom: 42px;
                max-width: 200px;

                text-transform: uppercase;

                font-weight: normal;
                font-size: 24px;
                line-height: 29px;

                > a {
                    color: $darkColor;                    
                }
            }

            .close {
                padding-top: 6px;

                >a>img {
                    color: #575757;
                }
            }
        }

        ul li {
            padding-bottom: 6px;

            font-weight: normal;
            font-size: 22px;
            line-height: 26px;

            color: #575757;
        }

        .price {
            color: $brandColor;
        }

        .quantity {
            display: flex;
        }

        .quantity-input {
            margin-top: 2px;
            margin-left: 24px;

            width: 42px;
            text-align: center;
            height: 20px;

            color: #656565;

            border: 1px solid #EAEAEA;
            outline: none;
        }
    }

    .address-subtotal {
        padding-top: 16px;

        width: 100%;
        max-width: 360px;

        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: unset;
            align-items: center;            
            width: 100%;
            max-width: unset;
        }

        .form {
            margin-bottom: 54px;

            display: flex;
            flex-direction: column;

            >h3 {
                text-transform: uppercase;

                font-weight: 300;
                font-size: 16px;
                line-height: 19px;

                color: $darkColor;
            }

            input {
                line-height: 16px;
                font-weight: 300;
                border: 1px solid #A4A4A4;
                outline: none;
                box-sizing: border-box;
            }

            .input-big {
                margin-top: 20px;
                padding: 16px;

                font-size: 13px;

                width: 100%;
                color: $darkColor;
            }

            .input-big::placeholder {
                color: #B1B1B1;
            }

            .get-a-quote {
                margin-top: 24px;
                padding: 10px;
                background: none;

                color: #4A4A4A;
                cursor: pointer;


                @extend %transition;

                &:hover {
                    background: #A4A4A4;
                    color: #FFF;
                }                  
            }
        }

        .subtotal {
            padding: 44px;

            @include tablet {
                width: 100%;
                max-width: 360px;
                margin-left: 16px;
            }

            background-color: #F5F3F3;
            box-sizing: border-box;

            .content {

                div {
                    text-align: right;

                    span {
                        margin-left: 32px;                        
                    }
                }

                .total {
                    margin-bottom: 12px;

                    font-weight: normal;
                    font-size: 11px;
                    line-height: 13px;

                    color: #4A4A4A;                    
                }

                .grand-total {
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 19px;

                    color: #222222;
                    
                    span {
                        font-weight: bold;

                        color: #F16D7F;                        
                    }
                }

                .text {
                    padding-bottom: 20px;
                    margin-bottom: 16px;
                    border-bottom: 1px solid #E2E2E2;
                }

                .button {
                    padding: 16px 32px;
                    width: 100%;


                    font-weight: 300;
                    font-size: 16px;
                    line-height: 19px;

                    color: #FFFFFF;
                    cursor: pointer;

                    border: none;
                    outline: none;
                    background-color: $brandColor;

                    @extend %transition;

                    &:hover {
                        background: #E05C6E;
                    }                    
                }
            }
        }
    }
}

.footer {

    &-copy-socials {
        @include paddingBig();

        @include tablet {
            @include padding32Tablet();
        }

        height: 79px;

        background: $darkColor;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-rights {
        p {
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;

            color: #FBFBFB;
        }
    }

    &-socials {
        ul {
            display: flex;

            li:not(:last-child) {
                margin-right: 7px;
            }
        }

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            background-color: #FFFFFF;
            color: $darkColor;

            @extend %transition;

        }

        &-icon:hover {
            background-color: $brandColor;
            color: #FFFFFF;
        }

    }
}

.cart-button {
    padding: 6px 12px;

    display: flex;
    align-items: center;
    cursor: pointer;

    img {
        margin-right: 11px;
    }
}

.white-button {
    border: 1px solid #FFFFFF;
}

.brand-button {
    padding: 10px 42px 10px 42px;

    border: 1px solid $brandColor;

    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $brandColor;

    @extend %transition;

    >svg {
        margin-right: 22px;
    }
}

.brand-button:hover {
    color: #FFF;
    background-color: $brandColor;
}

.cart-icon-brand {
    fill: $brandColor;

    @extend %transition;
}

.brand-button:hover .cart-icon-brand {
    fill: #FFF;
}